<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<mvc:annotation-driven/>-->
    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="com.destiny.example.web"/>

    <!--控制器基于注解-->
    <mvc:annotation-driven>
        <!--
            支持url中带.的变量 或者
            @RequestMapping(value = "/{q:.+}", method = RequestMethod.GET)
        -->
        <mvc:path-matching registered-suffixes-only="true"/>
    </mvc:annotation-driven>


    <!--  转换器 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.destiny.dog.web.converter.StringConverter"/>
            </list>
        </property>
    </bean>

    <!-- 拦截器 -->
    <!-- 处理请求返回json字符串的乱码问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>





</beans>
