target
.idea
*.iml
logs
loghome
springboot-templet-start.iml

/*/target

platform-jsp



springboot-jsp-mybatis-druid-war/src/test/java/com/example/
springboot-jsp-mybatis-druid/src/test/java/com/example/
springboot-thymeleaf-mybatis-druid/src/test/java/com/example/
springboot-freemarker-mybatisplus-hikari/src/test/java/com/example/
springboot-thymeleaf/src/test/java/com/example/



# 忽略配置文件上传
application-dev.yml

.DS_Store
*.log
temp_logs
