<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="1 minutes">

    <property name="LOG_HOME" value="./../logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Encoding>UTF-8</Encoding>
        <encoder>
            <pattern> [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%logger{36}] [%X{reqId:--}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 生成入库日志文件 -->
    <appender name="DESTINY_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/dogs-all.%d{yyyy-MM-dd-HH}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%logger{36}] [%X{reqId:--}] - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

   <!-- <logger name="org.springframework.security.web" level="INFO">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>

    <logger name="com.baomidou.mybatisplus.core" level="INFO">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>

    <logger name="org.springframework.web" level="INFO">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>

    <logger name="org.springframework.beans" level="INFO">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>

    <logger name="org.apache.http" level="INFO">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>

    <logger name="com.destiny.victory" level="DEBUG">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>

    <logger name="org.apache.zookeeper" level="INFO">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>

    <logger name="org.springframework.data.redis.core" level="INFO">
        <appender-ref ref="DESTINY_ALL"/>
    </logger>-->

    <!-- 日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>



