<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sk.manage.mapper.OrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sk.manage.entity.Organization">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="status" property="status" />
        <result column="address" property="address" />
        <result column="cellphone" property="cellphone" />
        <result column="liaison" property="liaison" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, status, address, cellphone, liaison, create_time, update_time
    </sql>



    <insert id="insertEntityList" parameterType="ArrayList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_organization (id,username,status,address,cellphone,liaison,create_time,update_time)
        VALUES
        <foreach collection="list" item="e" separator=",">
            (#{e.id},#{e.username},#{e.status},#{e.address},#{e.cellphone},#{e.liaison},#{e.createTime},#{e.updateTime})
        </foreach>
    </insert>

    <insert id="insertEntity" parameterType="com.sk.manage.entity.Organization" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_organization (id,username,status,address,cellphone,liaison,create_time,update_time)
        VALUES
        (#{id},#{username},#{status},#{address},#{cellphone},#{liaison},#{createTime},#{updateTime})
    </insert>


    <insert id="updateByEntityId" parameterType="com.sk.manage.entity.Organization">
        UPDATE tb_organization
        <set>
            <if test="username != null">
                username = #{username} ,
            </if>
            <if test="status != null">
                status = #{status} ,
            </if>
            <if test="address != null">
                address = #{address} ,
            </if>
            <if test="cellphone != null">
                cellphone = #{cellphone} ,
            </if>
            <if test="liaison != null">
                liaison = #{liaison} ,
            </if>
            <if test="createTime != null">
                create_time = #{createTime} ,
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where  id = #{id}
    </insert>

    <delete id="deleteById">
        delete from tb_organization where id = #{id}

    </delete>



    <select id="selectOrgCount" resultType="Integer">

        select count(*)
        from tb_organization
        <where>
            <if test="username != null and username != '' ">
                username like concat('%', #{username}, '%')
            </if>
            <if test="status != null and status != '' ">
                and status =  #{status}
            </if>
            <if test="address != null and address != '' ">
                and address like concat('%', #{address}, '%')
            </if>
        </where>

    </select>


    <select id="selectOrgList" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_organization
        <where>
            <if test="username != null and username != '' ">
                username like concat('%', #{username}, '%')
            </if>
            <if test="status != null and status != '' ">
                and status =  #{status}
            </if>
            <if test="address != null and address != '' ">
                and address like concat('%', #{address}, '%')
            </if>
        </where>
        order by id desc
        limit #{offset}, #{pageSize}


    </select>


    <select id="selectEntityById" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from tb_organization
        where id = #{id}

    </select>

</mapper>
